@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.container_blog {
  background: #eae7de;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.blog_h {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.blog_h > h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  display: flex;
  align-items: center;
  color: #372727;
  margin-top: 53px;
}
.coment{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.data_slider_card{
  cursor: pointer;
  background-color: white;
  width: 310px;
  border-radius: 20px;
  height: 370px;
  text-align: center;
}
.coment>p{
  font-size: 12px;
  font-family: "Quicksand";
}
.data_slider_card_title>img{
  transition: transform 0.5s ease-in-out;
  width: 310px;
  border-radius: 20px;
  height: 200px;
  transition: transform 0.4s ease-in-out;
}
.data_slider_card_title>img:hover{
  transform: scale(0.95);

}
.blog_p {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.lorem{
  font-size: 13px;
  color: #372727  ;
  margin-top: 20px;
}
.blog_p > p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: rgba(0, 0, 0, 0.25);
}
.data_slider {
  width:85%;
  height: 415px;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.make{
  font-size: 25px;
}
.swiper-button-next::after{
  display: none;
}
@media only screen and (max-width: 1024px) {
  .container_blog {
    max-width: 100%;
    height: auto;
    padding: 0 20px;
    height: 600px;
  }
  .blog_h > h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .blog_p > p {
    font-size: 18px;
    line-height: 22px;
  }
  .data_slider {
    margin-top: 50px;
    height: 400px;
  }
}


@media(max-width:768px){
  .container_blog{
    width: 100%;
  }
  .data_slider_card{
    width: 270px;
  }
  .data_slider_card_title>img{
    width: 270px;
  }
  .coment{
    display: none;
  }
  .lorem {
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
  }
  .coment>img{
    margin-left: 70px;
  }
  .data_slider{
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:425px){
  .data_slider{
    justify-content: center;
    align-items: center;
  }
}
@media(max-width:320px){
  .data_slider_card{
    width: 200px;
    height: 300px;
  }
  .data_slider_card_title img{
    width: 200px;
    height: 150px;
  }
  .coment{
    display: none;
    max-width: 100px;
    width: 30%;
    margin: 0 auto;
  }
  .coment img{
    width: 12px;
    height: 12px;
  }
  .coment p{
    font-size: 10px;
  }
  .make{
    font-size:20px;
  }
  .lorem{
    font-size: 11px;
  }
}  
