.container {
  max-height: 0px;
  height: 100%;
  max-width: 1600px;
  width: 85%;
  margin-top: 200px;
  margin: 0 auto;
  color: white;
}
.despina {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
}

.despina h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
  color: #e4b95b;
}
.despina_description {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;
}
.despina_description p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #816e6e;
}
.coffeedespina {
  width: 100%;
  height: 200px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.despina_one_img {
  width: 180px;
  transition: transform 0.3s ease-in-out;
}
.despina_one_img:hover{
  filter: brightness(75%);
  transform: scale(0.96);

}

@media (max-width: 768px) {
  .container {
    height: 500px;
  }
  .coffeedespina {
    height: 300px;
  }
  .despina_description_p {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .despina_description_p {
    font-size: 10px;
  }
  .despina > h1 {
    font-size: 40px;
  }
}
